<ion-view title="Design">
  <ion-content class="has-header">
    <h4 class="text-heading">Select Door Design</h4>
    <div class="container-fluid">
      <div class="frame-container">
        <!-- Wooden textures -->
        <div ng-repeat="tex in texs">
          <div ng-class="(tex.name == texture) ? 'frame-selected' : 'frame'">
            <img ng-src="{{tex.content}}" ng-click="setTex(tex.name)">
        </div>
      </div>
    </div>
	<!-- Buttons -->
    <div class="padding">
      <a class="button button-block button-outline button-dark" href="#/sidemenu/page3">
        Next
      </a>
    </div>
    <div class="padding">
      <a class="button button-block button-outline button-dark" href="#/sidemenu/page2">
        Back
      </a>
    </div>
  </ion-content>
</ion-view>
