// Imports
@import "ionic.app.scss";
@import "bootstrap.scss"; // Text

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance   : none;
  appearance        : none;
  margin            : 0;
}

a {
  text-decoration: none!important;
}

.text-bold {
  font-weight: bold!important;

  .title {
    font-weight: bold!important;
  }
}
// Toggle Button

.toggleBar {
  @extend .row-bs;
  @extend .padding;

  .toggleLabel {
    @extend .title;
    @extend .text-center;
    @extend .col-xs-12;
    @extend .col-md-4;
  }

  .toggle-container {
    @extend .button-bar;
    @extend .col-xs-12;
    @extend .col-md-8;

    .toggleButton {
      border-color: $dark!important;
      @extend .button;
      @extend .button-outline;
    }

    .untoggledButton {
      @extend .toggleButton;
      background-color: $light!important;
      color           : $dark!important;
    }

    .toggledButton {
      @extend .toggleButton;
      background-color: $dark!important;
      color           : $light!important;
    }
  }
}
// Image Frames

.frame-container {
  @extend .row-bs;
}

.frame-abstract {
  @extend .col-xs-6;
  @extend .col-md-4;
  padding   : 0 5px;
  text-align: left;
}

.frame {
  @extend .frame-abstract;
  cursor: pointer;
}

.frame-selected {
  @extend .frame-abstract;
}
// Bottom buttons

.button-bottom {
  @extend .col-xs-12;
  @extend .col-md-6;
}

.button-center {
  @extend .button-bottom;
  @extend .col-xs-offset-0;
  @extend .col-md-offset-3;
}
// Fix header

.avoid-header {
  padding-top: 50px;
}

.margin-h {
  margin-right: 16px !important;
  margin-left : 0 !important;
}

.padding-zero {
  padding-right: 0 !important;
}
